{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 bg-light rounded p-5 my-5">
      <div class="h1">BOOK REVIEW</div>
      <div class="h6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      </div>

      <form action="/search" method="GET">
      <div class="form-group">
        <label style="color:blue">Search for a Book</label>
        <input type="text" class="form-control" name="book"/>
      </div>

      <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

    <div class="container">
      <div class="h3">Search Results<br></div>

      <div class="h6">{{message}}</div>
      <div class="dropdown-divider"></div>


      <div class="row">
        {% for book in books %}
        <div class="col-md-4 bg-light rounded p-5 my-5">
        <div class="media">
          <img src="..." class="mr-4" alt="...">
            <div class="media-body">
              <h5 class="mt-0">{{book['title']}}</h5>
              <h6>{{book['author']}}</h6>
              <h6>{{book['year']}}</h6>
              <h6>{{book['isbn']}}</h6>
              <a href="/book/{{book['isbn']}}" class="card-link">Go to book page</a>
            </div>
        </div>
        </div>
        {% endfor %}
        </div>
    </div>
  </div>
</div>

{% endblock %}
