{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 bg-light rounded p-5 my-5">
      <div class="h1">BOOK REVIEW</div>
      <div class="h6">
        Welcome to my book review page.
        Feel free to check out and post reviews of books you like.
        You can start by using the search bar below.<br>
        -Giwil
      </div>

      <form action="/search" method="post">
      <div class="form-group">
        <label style="color:blue">Search for a Book</label>
        <input type="text" class="form-control" name="book" placeholder="eg.Cosmos"/>
      </div>

      <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

    <div class="container">
      {% if mode %}
      <div class="h3">{{mode}}<br></div>
      {% else %}
      <div class="h3">Search Results<br></div>
      <form action="/add_book" method="get">
      <div class="form-group">
        <label style="color:blue">Add book to database :)</label>
        <input type="text" class="form-control" name="isbn" placeholder="Enter ISBN"/>
      </div>

      <button type="submit" class="btn btn-primary">Add</button>
      </form>
      {% endif %}
      <div class="h6">{{messages}}</div>
      <div class="dropdown-divider"></div>


      <div class="row">
        {% for book in books %}
        <div class="col-md-4 bg-light p-10 my-5">
        <div class="media border border-primary rounded-lg">
            <div class="media-body mx-2">
              <h5 class="mt-0">  {{book['title']}}</h5>
              <h6>Author: {{book['author']}}</h6>
              <h6>Published: {{book['year']}}</h6>
              <h6>ISBN: {{book['isbn']}}</h6>
              <a href="/book/{{book['isbn']}}" class="card-link">Go to book page</a>
            </div>
        </div>
        </div>
        {% endfor %}
        </div>
    </div>
  </div>
</div>

{% endblock %}
